@import url("@ag-grid-community/styles/ag-grid.css");
@import url("@ag-grid-community/styles/ag-theme-quartz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/********************** Normalize ****************************/

/*
 * Disable overscroll that causes accidental back navigation
 * See https://stackoverflow.com/questions/17474930/disable-chrome-two-fingers-back-forward-swipe
 */
html,
body {
  overscroll-behavior-x: none;
  height: 100%;
}

/********************** Override Library ****************************/

.ag-customized-icon-cell.ag-cell-value {
  font-size: 20px;
  text-overflow: unset;
}

.ag-theme-quartz {
  --ag-cell-horizontal-padding: 10px;
  --ag-row-hover-color: #f8fafc70;
}

.ag-root-wrapper {
  border-radius: 0;
  border: none;
}

.mui--nullify-disabled-wash {
  -webkit-text-fill-color: initial;
}
